body,html{
    overflow: hidden;
    margin: 0px;
  }


.hero-text {
    font-family: 'Noto Sans', 'sans-serif';
    display: flex;
    justify-content: center;
    color: white;
    font-size:30px;
    margin: 0px;
    text-shadow: 0px 0px 5px #000;
}

.email{
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-family: 'Noto Sans', 'sans-serif';
    display: flex;
    justify-content: ;
    color: white;
    font-size:30px;
    margin: 0px;
    text-shadow: 0px 0px 5px #000;
    
}
.hero-image{

    height: 100vh;
    background: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    /*se coloca un padding minimo para eliminar el padding del h1*/
    padding-top: 15%;
    padding-left:3%;
    color: white;
    display: flex;
    align-items: flex-start;
  }